@import "../../Assets/mixins";

.brands {
  padding-top: 3rem;
  background-color: white;
  color: black;
}
.brands__container {
  height: 70vh;
  text-align: center;
  font-family: iransans;
}

.brands__cards {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.brand {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: relative;
  border: 0;
  cursor: pointer;
  overflow: hidden;

  &:hover .brand__overlay {
    left: 0;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: rgba($color: black, $alpha: 0.7);

    h1 {
      padding: 2rem;
      font-size: 18px;
      a {
        color: white;
      }
    }
  }
}

/* =====================MEDIA QUERIES(TABLET)==================== */
@media screen and (max-width: 1024px) {
  .brands__container {
    height: auto;
  }
  .brands__cards {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .brand__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: rgba($color: black, $alpha: 0.5);

    h1 {
      padding: 1rem;
      font-size: 16px;
      a {
        color: white;
      }
    }
  }
}

/* =====================MEDIA QUERIES(PHONE)==================== */
@media screen and (max-width: 600px) {
  .brands__cards {
    grid-template-columns: repeat(2, 1fr);

    .card {
      margin: 0 1rem;
    }
  }
  .brand__overlay {
    h1 {
      padding: 2rem 0;
      font-size: 18px;
    }
  }
}
