@import "../../Assets/mixins";
.card {
  position: relative;
  border: 0;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  .card__img {
    width: 100%;
    border-radius: 9px;
    height: 100%;
    img {
      object-fit: contain;
    }
  }
  .category {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 0 10px;
    border-radius: 8px 0 0 0;
    &:hover .angleIcon {
      transform: translateX(-3px);
    }
    p {
      margin: 0;
      padding: 1px;
    }
    .angleIcon {
      color: $color-red;
      margin-right: 2px;
    }
  }
  .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    color: white;
    font-size: bold;
    font-family: iransans;
    font-size: 18px;
    border-radius: 50%;
    background-color: #ef4123;
    p {
      margin: 0;
      padding: 0.25rem;
    }
  }
}
