@import "../../Assets/mixins";
header {
  width: 100%;
  height: 100vh;
  background: url($bg_url) center no-repeat;
  background-size: cover;
  font-family: iransans;

  .header__container {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .header__nav {
    padding-top: 1rem;
    display: flex;
    align-content: center;
    align-items: center;

    .login {
      @include btnStyle(
        transparent,
        $color-red,
        16px,
        bold,
        1px solid $color-red,
        all 0.3s,
        8px 14px
      );
      margin-left: 8px;

      &:hover {
        @include btnStyleHover(white, 1px solid $color-red, $color-red);
      }
    }

    .signup {
      @include btnStyle(
        $color-dark,
        white,
        16px,
        bold,
        1px solid $color-dark,
        all 0.3s,
        8px
      );

      &:hover {
        @include btnStyleHover($color-dark, 1px solid $color-dark, transparent);
      }
    }

    .header__logo {
      margin-right: auto;
      font-size: 70px;
      align-self: flex-end;
      color: $color-red;
    }
  }

  .header__iconDown {
    @include positionHedear(85%);
    color: $color-red;
    font-size: 32px;
  }
  .header__social {
    position: absolute;
    bottom: 30px;
    left: 12px;
    font-size: 24px;
    cursor: pointer;
    color: black;

    span {
      margin-right: 12px;
      transition: all 0.3s;
      &:hover {
        color: $color-red;
      }
    }
  }
}
