@import "../../Assets/mixins";
.gallery {
  position: relative;
  background-color: white;
  color: black;
}
.gallery__container {
  margin-bottom: 2rem;
  text-align: center;

  h2 {
    padding-top: 2rem;
    font-weight: bold;
  }
}

.gallery__cards {
  padding: 2rem 0;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
