@import "../../Assets/mixins";
.appPromotion {
  text-align: center;
  background-color: rgb(66, 164, 167);
  padding: 2rem 0;
}

.appPromotion__container {
  display: grid;
  grid-template-columns: 70% 30%;
  // gap: 3rem;
  align-items: center;
  align-content: center;
  color: white;
  font-family: iransans;

  .appPromotion__img img {
    width: 340px;
    object-fit: contain;
  }
}

.appPromotion__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  h1 {
    font-weight: bold;
  }

  p {
    margin: 12px 0 40px 0;
    font-weight: 500;
    font-size: 16px;
  }

  .apps {
    margin-top: 3rem;

    img {
      width: 200px;
      cursor: pointer;
    }
  }
}

.getNum {
  input {
    text-align: center;
    padding: 16px 40px;
    border-radius: 0 9px 9px 0;
    outline: none;
    font-size: 24px;
  }
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
  }

  ::placeholder {
    color: lightgray;
  }

  button {
    padding: 16px 14px;
    margin-right: -12px;
    border-radius: 9px 0 0 9px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-color: $color-red;

    &:hover {
      background-color: rgba(241, 10, 10, 0.979);
    }
  }
}

/* =====================MEDIA QUERIES(TABLET)==================== */
@media screen and (max-width: 1024px) {
  .appPromotion__container {
    grid-template-columns: 1fr;
  }

  .appPromotion__info {
    .apps {
      margin-top: 2rem;
      flex-wrap: wrap;

      img {
        max-width: 150px;
      }
    }
  }

  .appPromotion__img img {
    max-width: 350px;
    margin-right: 85px;
  }

  .getNum {
    input {
      padding: 12px 30px;
      border-radius: 0 9px 9px 0;
      font-size: 18px;
    }

    button {
      padding: 12px 10px;
      // margin-right: -12px;
      margin-right: 0;
      border-radius: 9px 0 0 9px;
      font-size: 18px;
    }
  }
}
/* =====================MEDIA QUERIES(PHONE)==================== */
@media screen and (max-width: 600px) {
  .appPromotion__info {
    .apps {
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem;
      img {
        max-width: 130px;
        margin-right: 8px;
        margin-bottom: 8px;
      }
    }
  }

  .appPromotion__info {
    h1 {
      font-size: 24px;
    }
    p {
      // padding: 12px 2rem 2rem 2rem;
      margin-bottom: 18px;
    }
  }

  .getNum {
    display: flex;
    flex-direction: column;
    input {
      padding: 12px 15px;
      border-radius: 9px;
      margin-bottom: 8px;
    }
    button {
      padding: 8px 5px;
      margin-right: 0;
      border-radius: 9px;
      align-self: center;
    }
  }

  .appPromotion__img img {
    display: none;
    // max-width: 300px;
    // margin-right: 50px;
  }
}
