@import "../../Assets/mixins";
.appPromotion {
  text-align: center;
  background-color: rgb(66, 164, 167);
  padding: 2rem 0;
}

.appPromotion__container {
  display: grid;
  grid-template-columns: 70% 30%;
  // gap: 3rem;
  align-items: center;
  align-content: center;
  color: white;
  font-family: iransans;

  .appPromotion__img img {
    width: 340px;
    object-fit: contain;
  }
}

.appPromotion__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  h1 {
    font-weight: bold;
  }

  p {
    margin: 12px 0 40px 0;
    font-weight: 500;
    font-size: 16px;
  }

  .apps {
    margin-top: 3rem;

    img {
      width: 200px;
      cursor: pointer;
    }
  }
}

.getNum {
  input {
    text-align: center;
    padding: 16px 40px;
    border-radius: 0 9px 9px 0;
    outline: none;
    font-size: 24px;
  }
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
  }

  ::placeholder {
    color: lightgray;
  }

  button {
    padding: 16px 14px;
    margin-right: -12px;
    border-radius: 9px 0 0 9px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-color: $color-red;

    &:hover {
      background-color: rgba(241, 10, 10, 0.979);
    }
  }
}
