@font-face {
  font-family: iransans;
  src: url(../fonts/IRANSansX-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: iransans;
  src: url(../fonts/IRANSansX-DemiBold.woff);
  font-weight: 600;
}

@font-face {
  font-family: iransans;
  src: url(../fonts/IRANSansX-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: iransans;
  src: url(../fonts/IRANSansX-Light.woff);
  font-weight: 300;
}

@font-face {
  font-family: iransans;
  src: url(../fonts/IRANSansX-Thin.woff);
  font-weight: 200;
}

@font-face {
  font-family: iransans;
  src: url(../fonts/IRANSansX-Regular.woff);
}
