@import "variables", "base", "colors", "fonts";
@mixin flexLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin positionHedear($topValue) {
  position: absolute;
  top: $topValue;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin btnStyle(
  $bgColor,
  $textColor,
  $fs: 16px,
  $fw: bold,
  $borderStyle,
  $transition: all 0.3s,
  $padding
) {
  background-color: $bgColor;
  color: $textColor;
  font-size: $fs;
  font-weight: $fw;
  border: $borderStyle;
  transition: $transition;
  padding: $padding;
  border-radius: 5px;
  font-family: iransans;
}

@mixin btnStyleHover($textColor, $borderStyle, $bgColor) {
  color: $textColor;
  border: $borderStyle;
  background-color: $bgColor;
}
